<form action="/Catagories/Index" method="post">
    <input type="text" name="data" placeholder="Enter text to search" />
    <input type="submit" name="btnSearch" value="Search Catagories" class="btn btn-danger" />
</form>