

<form action="/Catagories/Create" method="post">

    Enter Catagory Name<br />
    <input type="text" name="Name" value="" /><br />
    Enter Catagory Description<br />
    <textarea cols="60" rows="5" name="Description"></textarea><br />
    <input type="submit" name="btnSubmit" value="Create" class="btn btn-primary" />



</form>