@model List<KnowledgeHubPortalMVCWebApplication.Models.Entities.Catagory>

<h1>List of Catagories (Count : @Model.Count)</h1>

<a href="/Catagories/Create" class="btn btn-primary">Create new catagory</a>


<partial name="_CatagorySearchPartial" />

<table class="table table-bordered table-hover"  >
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CatagoryID</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
        </tr> 
    }

</table>